.side_ber
  .header
    .header_user-name
      名前
    .header__lists
      .list
       =lint_to '#' do
        =fa_icon 'edit' , class: 'icon'
      .list
       =link_to '#' do
        =fa_icon 'cog' , class: 'icon'

.groups
  .group
    .group__name
      グループ名
    .group__message
      まだメッセージはありません
  .group
    .group__name
      グループ名
    .group__message
      まだメッセージはありません
  .group
    .group__name
      グループ名
    .group__message
      まだメッセージはありません

  